<div class="chat_container">
    <div class="chat">
    {{#each messages}}
    <div>
        {{this.email}}
        {{this.date}}
    </div>
    <div>
        {{this.text}}
    </div>
    {{/each}}
</div>
</div>