<h1>Products API - Handlebars</h1>
<a href="/productos">
<button type="button">Ver Productos</button>
</a>

<h2>Ingresa un producto nuevo</h2>

    <form action="/productos" method="POST">
        <span>Nombre del producto</span>
        <input type="text" name="title">
        <span>Precio</span>
        <input type="number" name="price">
        <span>Thumbnail</span>
        <input type="text" name="thumbnail">
        <button>Enviar</button>
    </form>